In [75]:
import pandas as pd
import numpy as np

In [26]:
from sklearn import datasets
import pandas as pd

## Iris Flower 
![](http://5047-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2015/04/iris_petal_sepal.png)

In [28]:
iris = datasets.load_iris()
x = pd.DataFrame(iris['data'], columns=iris['feature_names'])
print("target_names: "+str(iris['target_names']))
y = pd.DataFrame(iris['target'], columns=['target_names'])
data = pd.concat([x,y], axis=1)
data.head(3)

target_names: ['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [3]:
import numpy as np

In [4]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [5]:
np.array(list1)

array([1, 2, 3, 4, 5])

In [6]:
list2 = ["1", 2,3.,4,5]
list2

['1', 2, 3.0, 4, 5]

In [7]:
np.array(list2)

array(['1', '2', '3.0', '4', '5'],
      dtype='<U3')

## Pandas Series

In [31]:
s1 = pd.Series([1, 3, 6, np.nan, 44, 1])
print(type(s1))
s1

<class 'pandas.core.series.Series'>

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [32]:
s2 = pd.Series([1,2,3], index=['a', 'b', 'c'])
print(type(s2))
s2

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [9]:
print(type(data.head(5)['sepal length (cm)']))
data.head(5)['sepal length (cm)']

<class 'pandas.core.series.Series'>

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length (cm), dtype: float64

## Pandas DataFrame

In [79]:
df = pd.DataFrame(np.random.randn(6,4),columns=['a','b','c','d'])
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

          a         b         c         d
0 -0.495886  0.349915  0.134219 -0.032376
1 -0.979078  0.630289 -0.027901 -0.039128
2  1.311583  0.851632  1.292174 -0.190673
3  0.265065  1.337182 -0.322276  0.536818
4 -0.480431  0.876064  1.347095 -0.361583
5 -0.352931  0.910087  1.163870  1.779835

## DataFrame Basic information（DataFrame基本資訊）

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal length (cm)    150 non-null float64
sepal width (cm)     150 non-null float64
petal length (cm)    150 non-null float64
petal width (cm)     150 non-null float64
target_names         150 non-null int64
dtypes: float64(4), int64(1)
memory usage: 5.9 KB

In [14]:
data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,1.000000
std,0.828066,0.433594,1.764420,0.763161,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [33]:
data.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target_names'],
      dtype='object')

In [35]:
data.sort_values(by='sepal length (cm)').head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
13,4.3,3.0,1.1,0.1,0
42,4.4,3.2,1.3,0.2,0
38,4.4,3.0,1.3,0.2,0
8,4.4,2.9,1.4,0.2,0
41,4.5,2.3,1.3,0.3,0

## Data Selection(資料選取)

In [82]:
data['sepal length (cm)'].head(5)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length (cm), dtype: float64

In [83]:
data[['sepal length (cm)','sepal width (cm)']].head(5)

   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2
3                4.6               3.1
4                5.0               3.6

In [42]:
data[0:5]['sepal length (cm)']

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length (cm), dtype: float64

In [84]:
data[5:10][['sepal length (cm)','sepal width (cm)']]

   sepal length (cm)  sepal width (cm)
5                5.4               3.9
6                4.6               3.4
7                5.0               3.4
8                4.4               2.9
9                4.9               3.1

In [24]:
data.loc[5:10, ['sepal length (cm)','sepal width (cm)']]

    sepal length (cm)  sepal width (cm)
5                 5.4               3.9
6                 4.6               3.4
7                 5.0               3.4
8                 4.4               2.9
9                 4.9               3.1
10                5.4               3.7

## Data Selection with condition(資料篩選)

In [45]:
data[data['sepal length (cm)'] > 7]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
102,7.1,3.0,5.9,2.1,2
105,7.6,3.0,6.6,2.1,2
107,7.3,2.9,6.3,1.8,2
109,7.2,3.6,6.1,2.5,2
117,7.7,3.8,6.7,2.2,2
118,7.7,2.6,6.9,2.3,2
122,7.7,2.8,6.7,2.0,2
125,7.2,3.2,6.0,1.8,2
129,7.2,3.0,5.8,1.6,2
130,7.4,2.8,6.1,1.9,2
131,7.9,3.8,6.4,2.0,2
135,7.7,3.0,6.1,2.3,2

In [50]:
data[data['target_names'].isin([1,2])]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1
55,5.7,2.8,4.5,1.3,1
56,6.3,3.3,4.7,1.6,1
57,4.9,2.4,3.3,1.0,1
58,6.6,2.9,4.6,1.3,1
59,5.2,2.7,3.9,1.4,1
60,5.0,2.0,3.5,1.0,1
61,5.9,3.0,4.2,1.5,1
62,6.0,2.2,4.0,1.0,1
63,6.1,2.9,4.7,1.4,1
64,5.6,2.9,3.6,1.3,1
65,6.7,3.1,4.4,1.4,1
66,5.6,3.0,4.5,1.5,1
67,5.8,2.7,4.1,1.0,1
68,6.2,2.2,4.5,1.5,1
69,5.6,2.5,3.9,1.1,1
70,5.9,3.2,4.8,1.8,1
71,6.1,2.8,4.0,1.3,1
72,6.3,2.5,4.9,1.5,1
73,6.1,2.8,4.7,1.2,1
74,6.4,2.9,4.3,1.3,1
75,6.6,3.0,4.4,1.4,1
76,6.8,2.8,4.8,1.4,1
77,6.7,3.0,5.0,1.7,1
78,6.0,2.9,4.5,1.5,1
79,5.7,2.6,3.5,1.0,1
...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,2
121,5.6,2.8,4.9,2.0,2
122,7.7,2.8,6.7,2.0,2
123,6.3,2.7,4.9,1.8,2
124,6.7,3.3,5.7,2.1,2
125,7.2,3.2,6.0,1.8,2
126,6.2,2.8,4.8,1.8,2
127,6.1,3.0,4.9,1.8,2
128,6.4,2.8,5.6,2.1,2
129,7.2,3.0,5.8,1.6,2
130,7.4,2.8,6.1,1.9,2
131,7.9,3.8,6.4,2.0,2
132,6.4,2.8,5.6,2.2,2
133,6.3,2.8,5.1,1.5,2
134,6.1,2.6,5.6,1.4,2
135,7.7,3.0,6.1,2.3,2
136,6.3,3.4,5.6,2.4,2
137,6.4,3.1,5.5,1.8,2
138,6.0,3.0,4.8,1.8,2
139,6.9,3.1,5.4,2.1,2
140,6.7,3.1,5.6,2.4,2
141,6.9,3.1,5.1,2.3,2
142,5.8,2.7,5.1,1.9,2
143,6.8,3.2,5.9,2.3,2
144,6.7,3.3,5.7,2.5,2
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## Data Grouping(資料分群)

In [63]:
data.groupby(by='target_names').sum()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target_names,,,,
0,250.3,170.9,73.2,12.2
1,296.8,138.5,213.0,66.3
2,329.4,148.7,277.6,101.3

In [62]:
data.groupby(by='target_names').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target_names,,,,
0,5.006,3.418,1.464,0.244
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026